<div class="column col-xs-12 col-sm-3" id="left_column">
        <!-- block best sellers -->
        <div class="block left-module">
            
            <p class="title_block">New products</p>
            <div class="block_content">
                <ul class="products-block best-sell">
                        <% lastProducts.forEach(function(p) { %>
                        <li>
                            <div class="products-block-left">
                                <a href="/product/<%= p.id %>">
                                    <img src="<%= p.images[0].path %>" alt="<%= p.images[0].alt %>">
                                </a>
                            </div>
                            <div class="products-block-right">
                                <p class="product-name">
                                    <a href="#"><%= p.name %></a>
                                </p>
                                <p class="product-price">$<%= p.price %></p>
                            </div>
                        </li>
                        <% }) %>
                    </ul>
            </div>

        </div>
        <!-- ./block best sellers  -->
        
        <!-- left silide -->
        <div class="col-left-slide left-module">
            <ul class="owl-carousel owl-style2" data-loop="true" data-nav = "false" data-margin = "0" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-items="1" data-autoplay="true">
                <% lastProducts.forEach(function(p) { %>
                <li><a href="<%= p.images[0].id %>"><img src="<%= p.images[0].path %>" alt="<%= p.images[0].alt %>"></a></li>
                <% }) %>
            </ul>
        </div>
        <!--./left silde-->
        <!-- block best sellers -->
        <!-- ./block best sellers  -->
    </div>
    <!-- ./left colunm -->